<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Node.js Blog</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="/css/addStudent.css" rel="stylesheet" type="text/css">

</head>

<body>

<h1>Add New Student Here</h1>
<form method="POST" action="addStudent" enctype="multipart/form-data">
 <label>First Name: </label>
 <input type="text" name="firstName" id="firstName" /> <br />
 <label>Last Name: </label>
 <input type="text" name="lastName" id="lastName" /> <br />
 <label>Title: </label>
 <input type="text" name="title" id="title" /> <br />
 <label>Nationality: </label>
 <input type="text" name="nationality" id="nationality" /> <br />
 <label>Skills: </label>
 <input type="text" name="skills" id="skills" /> <br />
 <label>whySofterDeveloper: </label>
 <input type="text" name="wsv" id="wsv" /> <br />

 <label>whySofterDeveloper: </label>
 <input type="text" name="wsv" id="wsv" /> <br />
 <label>longTermVision: </label>
 <input type="text" name="ltv" id="ltv" /> <br />
 <label>motivatesMe: </label>
 <input type="text" name="mM" id="mM" /> <br />
 <label>favoriteQuote: </label>
 <input type="text" name="fq" id="fq" /> <br />
 <label>joinedOn: </label>
 <input type="text" name="jo" id="jo" /> <br />
 <label>Upload Image</label><input type="file" name="studentImage"/><br />
 <label>Skills: </label>
 <textarea name="skills" id="skills">
 </textarea>
   <br />
 <button type="submit">Save</button>
</form>
</body>

</html>
